<table>
  <tr>
    <th style="background-color:#ffe694;">
     
<font size=6> Les fonctions <font color='blue'>map</font> et <font color='blue'>apply</font>
      </th>
  </tr>
</table>

## Les fonctions <font color='blue'>map</font> et <font color='blue'>apply</font> ont en commun de permettre l'application d'une fonction à un ensemble de valeurs.

## La fonction <font color='blue'>map</font> sert à appliquer une fonction quelconque à tous les éléments d'un <i>itérable</i> et à récupérer le résultat dans une liste. Prenons un premier exemple:

In [59]:
def square(x):
    return x**2

res = map(square,[1,2,3,4])
list(res)

[1, 4, 9, 16]

## Dans cet exemple simple, on peut constater que la fonction <font color='blue'>map</font> n'apporte rien de plus par rapport à l'instruction suivante (voir aussi la fiche consacrée aux  [listes](forLists.ipynb)):

In [60]:
res = [x**2 for x in [1,2,3,4]]
res

[1, 4, 9, 16]

## Prenons un autre exemple:

In [61]:
def prod(x,y):
    return x*y

res = map(prod, (1, 2, 3), (-2, 3, 1.5))
list(res)

[-2, 6, 4.5]

## Et encore un exemple:

In [62]:
def droite(a, b, c, x, y):
  val = a*x+b*y+c
  if (val<0):
    return -1
  elif (val>0):
    return 1
  else:
    return 0

res = map(droite, [1]*4, [1]*4, [-1]*4, [0,0,1,1], [0,1,0,1])
list(res)

[-1, 0, 0, 1]

## Les exemples précédents montrent que la fonction <font color='blue'>map</font> prend comme paramètres une fonction et plusieurs itérables dont un seul obligatoire. Plus précisément, elle prend comme paramètre une fonction et autant d'itérables que la fonction a de paramètres. Tous les itérables ont le même nombre d'élements: celui des valeurs auxquelles on veut appliquer la fonction. 
## En résume, lorsqu'on souhaite appliquer une fonction <i> fct </i>  ayant <i> n </i> paramètres, à <it>p </i> n-uplets de valeurs on écrit:

## <i> <CENTER><font color='blue'>map</font>(fct, valeurs premier paramètre, ..., valeurs nième paramètre)</CENTER> </i>

## La fonction <font color='blue'>apply</font> sert à appliquer une fonction quelconque à chaque élément d'une dataframe, à toutes les lignes d'une dataframe,  à une colonne, à plusieurs colonnes, à toutes les colonnes d'une dataframe, ou à la totalité d'une dataframe. Prenons quelques exemples simples:

In [63]:
#Définition des dataframes que nous allons utiliser par la suite

import pandas as pn
import numpy as np

arr = np.array([[1,2], [3,4], [5,6], [7,8], [9,10]])
df1  = pn.DataFrame(data=arr, columns=['Vi', 'Vp'])

data = [[0.02, 0.28, 0.28], 
        [0.86, 0.62, 0.62],
        [0.86, 0.8, 0.8],
        [0.06, 0.42, 0.42],
        [0.98, 0.96, 0.96],
        [0.25, 0.02, 0.02],
        [0.05, 0.03, 0.03],
        [0.2, 0.35, 0.35],
        [0.72, 0.29, 0.29]]
df2 = pn.DataFrame(data=data, columns=['x1', 'x2', 'y'])

In [64]:
#Appliquer une fonction à tous les éléments d'une dataframe.
log_df1 = df1.apply(np.log2)
log_df1

         Vi        Vp
0  0.000000  1.000000
1  1.584963  2.000000
2  2.321928  2.584963
3  2.807355  3.000000
4  3.169925  3.321928

In [65]:
#Appliquer une fonction à toutes les colonnes d'une dataframe.
sm = df1.apply(np.sum, axis=0)
sm

Vi    25
Vp    30
dtype: int64

In [66]:
#Appliquer une fonction à toutes les lignes d'une dataframe.
sm = df1.apply(np.sum, axis=1)
sm

0     3
1     7
2    11
3    15
4    19
dtype: int64

### La valeur par défaut du paramètre <font color='blue'>axis</font> est 0.

In [67]:
#Appliquer une fonction à une colonne.
tab_y_sqr = df2['y'].apply(np.square)
tab_y_sqr

0    0.0784
1    0.3844
2    0.6400
3    0.1764
4    0.9216
5    0.0004
6    0.0009
7    0.1225
8    0.0841
Name: y, dtype: float64

In [68]:
#Appliquer une fonction à plusieurs colonnes (1).
df2[['x1','x2']].apply(np.sum)

x1    4.00
x2    3.77
dtype: float64

In [69]:
#Appliquer une fonction à plusieurs colonnes (2).
df2[['x1','x2']].apply(np.sum, axis=1)

0    0.30
1    1.48
2    1.66
3    0.48
4    1.94
5    0.27
6    0.08
7    0.55
8    1.01
dtype: float64

### Dans les exemples donnés ci-dessus, les fonctions utilisées sont des fonctions pré-définies. On peut aussi utiliser des fonctions, éventuellement anonymes, écrites par le développeur. Voici quelques exemples:

In [70]:
#Dans l'exemple suivant, nous considérons chaque ligne comme une variable, puis nous accédons à chaque colonne par 
#x['nomdelacolonne']. On notera que le résultat est utilisé pour ajouter une colonne.
df1['new']=df1.apply(lambda x:2*x['Vi']+3*x['Vp'], axis=1)
df1

   Vi  Vp  new
0   1   2    8
1   3   4   18
2   5   6   28
3   7   8   38
4   9  10   48

In [71]:
#Dans l'exemple suivant, nous appliquons une fonction dépendant de paramètres, en l'occurence w1, w2, et b, à chaque ligne d'une dataframe.
def erreurQuadratique(x1, x2, y, w1, w2, b):
    return (w1*x1+w2*x2+b-y)**2

df2['err']=df2.apply(lambda x: erreurQuadratique(x['x1'], x['x2'], x['y'], 1.0, 1.0, -0.5), axis=1)
df2

     x1    x2     y     err
0  0.02  0.28  0.28  0.2304
1  0.86  0.62  0.62  0.1296
2  0.86  0.80  0.80  0.1296
3  0.06  0.42  0.42  0.1936
4  0.98  0.96  0.96  0.2304
5  0.25  0.02  0.02  0.0625
6  0.05  0.03  0.03  0.2025
7  0.20  0.35  0.35  0.0900
8  0.72  0.29  0.29  0.0484

In [72]:
#Dans l'exemple suivant, nous présentons deux versions de l'application d'une fonction dépendant de paramètres à une colonne.
def affine(x, a, b):
    return a*x+b
#Version 1
df2['aff1'] = df2['x1'].apply(affine, args=(2.0, 1.0))
df2

     x1    x2     y     err  aff1
0  0.02  0.28  0.28  0.2304  1.04
1  0.86  0.62  0.62  0.1296  2.72
2  0.86  0.80  0.80  0.1296  2.72
3  0.06  0.42  0.42  0.1936  1.12
4  0.98  0.96  0.96  0.2304  2.96
5  0.25  0.02  0.02  0.0625  1.50
6  0.05  0.03  0.03  0.2025  1.10
7  0.20  0.35  0.35  0.0900  1.40
8  0.72  0.29  0.29  0.0484  2.44

In [73]:
#Version 2
df2['aff2'] = df2['x1'].apply(affine, a=2.0, b=1.0)
df2

     x1    x2     y     err  aff1  aff2
0  0.02  0.28  0.28  0.2304  1.04  1.04
1  0.86  0.62  0.62  0.1296  2.72  2.72
2  0.86  0.80  0.80  0.1296  2.72  2.72
3  0.06  0.42  0.42  0.1936  1.12  1.12
4  0.98  0.96  0.96  0.2304  2.96  2.96
5  0.25  0.02  0.02  0.0625  1.50  1.50
6  0.05  0.03  0.03  0.2025  1.10  1.10
7  0.20  0.35  0.35  0.0900  1.40  1.40
8  0.72  0.29  0.29  0.0484  2.44  2.44